*{
	box-sizing: border-box;
	margin: 0;
}

body{
	width: 100%;
	height: 100%;
	background: url("../images/backgroundeditor.png");
	background-color: #fff; 
	margin: 20px;
}

h2{
	font-family: 'Passero One', cursive;
	font-size: 40px;
	text-align: center;
	color: #9a2672;
}
.cImage{
	width:70%;
	height:auto;
	max-width:MaxSize;
	max-height:MaxSize;
	/*Centering the Image - Check how to change*/
	margin-left: auto;
	margin-right: auto;
}
#startButton {
    background-color: #1d3d84;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 60px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#startButton:hover{
	background-color: #9a2672;
}

#container{
	text-align: center;
	margin: auto;
	background-color: white;
    width: 75%;
    height: 75%;
    border: 3px solid #1d3d84;
    padding: 10px;
}

#dOptions, #dFacts, #dAnswer, #dQuestion, #dDisplay, #dResults{
	font-family: 'Abhaya Libre', serif;
	font-size: 18px;
	line-height: 24px;
	/*text-align: left;*/
}

#dDisplay, #dResults{
	font-size: 24px;
	font-weight: bold;
	margin-top: 20px;
}


#dFact, p{
	font-size: 15px;
	padding: 20px;
}

p{
	font-size: 18px;


}
#dQuestion{
	padding-top: 18px;
	padding-bottom: 15px
}

#dAnswer{
	padding-top: 15px;
	font-family: 'Passero One', cursive;
	font-size: 25px;
	font-weight: bold;

}